<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title"><?php _e('Edit Milestone'); ?></h4></div>
<div class="modal-body">



    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="name"><?php _e('Name'); ?> *</label>
                <input type="text" class="form-control" id="name" name="name" value="<?php echo $milestone['name']; ?>" required>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="duedate"><?php _e('Due Date'); ?></label>
                <div class="input-group">
                    <input type="text" class="form-control duedate" id="duedate" name="duedate" value="<?php echo dateDisplay($milestone['duedate']); ?>">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>

    </div>


    <div class="form-group">
        <label for="description" class="control-label"><?php _e('Description'); ?></label>
        <textarea class="form-control summernote" id="description" name="description"><?php echo $milestone['description']; ?></textarea>
    </div>

    <input type="hidden" name="projectid" value="<?php echo $_GET['routeid']; ?>">


    <input type="hidden" name="id" value="<?php echo $milestone['id']; ?>">
    <input type="hidden" name="action" value="editMilestone">
    <input type="hidden" name="route" value="<?php echo $_GET['reroute']; ?>">
    <input type="hidden" name="routeid" value="<?php echo $_GET['routeid']; ?>">
    <input type="hidden" name="section" value="<?php echo $_GET['section']; ?>">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal"><i class="fa fa-times"></i> <?php _e('Cancel'); ?></button>
    <button type="submit" class="btn btn-success btn-flat"><i class="fa fa-save"></i> <?php _e('Save'); ?></button>
</div>

<script type="text/javascript">
        $(".select2").select2();

        function formatIcon(icon) {
            if (!icon.id) { return icon.text; }
            var originalOption = icon.element;
            var $icon = $('<span></span>').append($('<i class="fa ' + $(originalOption).data('icon') + '"></i>') ).append(icon.text);
            return $icon;
        }

        $('.select2-icon').select2({
            templateResult: formatIcon,
            templateSelection: formatIcon
        });


            $('.duedate').datepicker({
                format: '<?php echo jsFormat(); ?>',
                clearBtn: 'true',
                weekStart: '<?php echo getConfigValue("week_start"); ?>',
                autoclose: true
            });
    
</script>
