<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1 class="pull-left"><?php _e('Credentials'); ?> <small> <?php _e('Manage credentials'); ?></small></h1>
		<div class="pull-right"><a onClick='showM("?modal=credentials/add&reroute=inventory/credentials");return false' data-toggle="modal" class="btn btn-primary btn-flat btn-sm"><?php _e('NEW CREDENTIAL'); ?></a></div>
		<div style="clear:both"></div>
	</section>
	<!-- Main content -->
	<section class="content">
		<?php if(!empty($statusmessage)): ?>
				<div class="row"><div class='col-md-12'><div class="alert alert-<?php print $statusmessage["type"]; ?> alert-auto" role="alert"><?php print __($statusmessage["message"]); ?></div></div></div>
		<?php endif; ?>
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">
                    <div class="box-body">
						<div class="table-responsive">

							<table id="dataTablesFull3" class="table table-striped table-hover table-bordered">
							  <thead>
								  <tr>
									  <th><?php _e('ID'); ?></th>
									  <th><?php _e('Client'); ?></th>
									  <th><?php _e('Asset'); ?></th>
									  <th><?php _e('Type'); ?></th>
									  <th><?php _e('Username'); ?></th>
									  <th><?php _e('Password'); ?></th>
									  <th class="text-right"></th>
								  </tr>
							  </thead>
							  <tbody>
								  <?php
								  foreach ($credentials as $credential) {
								  echo "<tr>";
									  echo "<td>".$credential['id']."</td>";
									  if(in_array("viewClients",$perms)) echo "<td><a href='?route=clients/manage&id=".$credential['clientid']."'>".getSingleValue("clients","name",$credential['clientid'])."</a></td>";
									  if(!in_array("viewClients",$perms)) echo "<td>".getSingleValue("clients","name",$credential['clientid'])."</td>";
									  echo "<td><a href='?route=inventory/assets/manage&id=".$credential['assetid']."'>".getSingleValue("assets","tag",$credential['assetid'])."</a></td>";
									  echo "<td>".$credential['type']."</td>";
									  echo "<td>".$credential['username']."</td>";
									  echo "<td>";
										  if(in_array("viewCredential",$perms)) echo "<a href='#' onClick='showM(\"index.php?modal=credentials/view&reroute=inventory/credentials&routeid=".$credential['id']."&id=".$credential['id']."&section=\");return false' class='btn-right text-dark'>".__("Click to view")."</a>";
									  echo "</td>";
									  echo "<td><div class='pull-right btn-group'>";
												  if(in_array("viewCredential",$perms)) echo "<a href='#' onClick='showM(\"?modal=credentials/view&reroute=inventory/credentials&routeid=".$credential['id']."&id=".$credential['id']."&section=\");return false' class='btn btn-flat btn-primary btn-sm'><i class='fa fa-eye'></i></a>";
												  if(in_array("editCredential",$perms)) echo "<a href='#' onClick='showM(\"?modal=credentials/edit&reroute=inventory/credentials&routeid=".$credential['id']."&id=".$credential['id']."&section=\");return false' class='btn btn-flat btn-success btn-sm'><i class='fa fa-edit'></i></a>";
												  if(in_array("deleteCredential",$perms)) echo "<a href='#' onClick='showM(\"?modal=credentials/delete&reroute=inventory/credentials&routeid=".$credential['id']."&id=".$credential['id']."&section=\");return false' class='btn btn-flat btn-danger btn-sm'><i class='fa fa-trash-o'></i></a>";
									  echo "</div></td>";
								  echo "</tr>";
								  }
								  ?>
							  </tbody>
						  </table>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- /.content -->
</aside><!-- /.right-side -->
